@media all and (max-width: 2560px) {
    .header-desc{
        height: 85vh;
    }
    .img__2-block{
        height: 450px;
    }
    .text-center-block{
        height: 550px;
    }
    #owl-history{
        margin-top: 60px;
    }
    .form {
          margin: 0 0px 0 -20px;
    }
    #piter,#moskow,#piter2{
        margin: 0 20px 0 -20px;
    }
    .mb7{
        padding-right: 20px;
    }
	.item{
		height: 900px;
	}
    .header-desc{
        justify-content: flex-start;
    }
    .inter{
        margin: 0 20px 0 0;
    }
    .grid__category.grid__category-big{
        padding: 0 0px 0 20px; 
    }
    .tab-content > .tab-pane{
        margin: 0 20px 0 0;
    }
    .my-tabs{
        margin: 0 20px 40px 0px;
    }
     .pad-r {
        padding-right: 10px;
    }
    .description__pre{
        padding: 0 40px 0 0;
    }
    .description__full{
        padding: 0 20px 0 0!important;
    }
    .description__pre{
         padding: 0 20px 0 0!important;
    }
    .pad-r.pad-r-contact{
        padding-right: 20px;
    }
    .item__category.no-hover.no-hover-maps{
        width: calc(100% - 16px);
    }
    .pad-r.pad-r-product{
        margin-right: 20px;
    }
     .item__category.no-hover{
          width: calc(50% - 16px);
        }

/*    .opacity-border.revealator-slideup.revealator-within{
        width: 99%;
        float: left;
    }*/
    .document-padding{
        padding: 0 40px 0 0;
    }
/*    #spark__ao,
    #spark__npo{
        margin: 0 20px 0 0;
    }*/
    .news-padding{
        padding: 0 40px 0 0;
    }
    .grid__news{
        margin: -8px 25px -5px -12px;
    }
    .item__category .category__img{
        width: 50px;
    }
   .item__category .category__img__big{
    width: 90px;
   }
    .spark__img{
        height: 475px;
    }
    .grid__gallery{
        margin: 30px 25px 90px 0;
    }
    .footer__text {
        margin:0 20px;
    }
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: absolute;
        top: -2px;
        left: 23px;
        height: 20px;
        width: auto;
	}
    .product__content .owl-carousel .owl-item img {
        max-height: 600px;
        min-height: 1px;
        height: 100%;
    }
    .img__tabs{
        background-position: top;
    }
    .nav-tabs > li {
        height: 935px;
    }
    .img__tabs {
        height: 700px;
/*        height: 100%;*/
    }
    .nav-tabs > li:nth-child(2) {
        height: 970px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
       height: 735px;
    }
    .state__boss{
        line-height: 43px;
    }
   /* .inter{
        max-width: 320px;
    }*/
}
@media all and (max-width: 2200px) {
    .product__content .owl-carousel .owl-item img {
       /* height: auto;*/
    }
     .item{
        height: 600px;
    }
}
@media all and (max-width: 2050px) {
    .nav-tabs > li {
        height: 700px;
    }
    .img__tabs {
        height: 500px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 720px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 520px;
    }
    .state__boss{
        font-size: 18px;
        line-height: 28px;
    }
}
@media all and (max-width: 1900px) {
	.item{
		height: 500px;
	}
    .img__2{
        height: 280px;
    }
@media all and (max-width: 1920px) {


    /*.with__sidebar .right__sidebar {
        width: 550px;
    }*/
    .spark__img {
        height: 370px;
        right: -6px;
        display: flex;
    }
    .sub-text ul li{
        margin-bottom: 30px;
    }
    .item{
        height: 600px;
    }
    .text-center-block{
        height: 380px;
    }
}

@media all and (max-width: 1800px) {
    /* .right__sidebar{
        width: 550px;
    }*/
    .product__content .owl-carousel .owl-item img {
      /*  height: auto;*/
    }
    .nav-tabs > li {
        height: 680px;
    }
    .img__tabs {
        height: 480px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 700px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 500px;
    }
    .state__boss{
        font-size: 17px;
        line-height: 30px;
    }
    .category__text {
        font-size: 22px;
    }

    .category__img {
        width: 100px;
        margin-right: 22px;
    }

    .item__category {
        padding: 30px;
    }
}
@media all and (max-width: 1780px) {
     .item{
        height: 400px;
    }
    .img__2{
        height: 250px;
    }
    .name__boss{
        font-size: 25px;
    }
    .state__boss{
        line-height: 18px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 400px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 600px;
    }
    .nav-tabs > li {
        height: 560px;
    }
    .img__tabs{
        height: 390px;
    }
    .category__text {
        font-size: 22px;
    }

    .category__img {
        width: 100px;
        margin-right: 22px;
    }

    .item__category {
        padding: 20px;
    }
    .slider-title{
        font-size: 18px;
        line-height: 24px;
    }
}

@media all and (max-width: 1600px) {

     .sub-text ul li{
        /*font-size: 20px;
        line-height: 24px;*/
       /* margin-bottom: 10px;*/
    }
     .img__2{
        height: 230px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 350px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 540px;
    }
    .nav-tabs > li {
        height: 500px;
    }
    .img__tabs{
        height: 330px;
    }
/*    .logo__block {
        margin: -50px 0 0 0;
    }*/
    .logo__block a img {
       /* margin: 38px 0 0 0px;*/
    }
    .category__text {
        font-size: 18px;
    }
    .category__img {
        width: 90px;
    }

    .grid__popup a {
        width: 100%;
    }
     #owl .owl-nav button.owl-next{
        right: 10px;
    }
    #owl .owl-nav button.owl-prev {
        left: 10px;
    }
}
@media all and (max-width: 1590px) {
    .sub-text ul li{
        margin-bottom: 20px;
    }
}
@media all and (max-width: 1500px) {
    .spark__img{
        height: 300px;
    }
    .text-center-block{
        height: 300px;
    }
     .item{
        height: 500px;
    }
     .sub-text ul li{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .product__content .owl-carousel .owl-item img {
       /* height: auto;*/
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 320px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 510px;
    }
    .nav-tabs > li {
        height: 480px;
    }
    .img__tabs{
        height: 300px;
    }
    .category__text {
        font-size: 18px;
    }

    .category__img {
        width: 80px;
    }

    .with__sidebar .product__content {
        padding-right: 10;
    }

    .with__sidebar .product__content,
    .with__sidebar .right__sidebar {
        width: 100%;
    }

    .right__sidebar .item__category {
        width: 47%;
    }

    .container-fluid {
        max-width: 100%;
    }

    .abs__img {
        right: -10vw;
    }

}
@media all and (max-width: 1480px) {
    .grid__category{
        padding: 0;
    }
}
@media all and (max-width: 1440px) {
    .img__2-block{
        height: 250px;
    }
    .form {
        margin: 0 0px 0 -10px;
    }
    #piter,#moskow,#piter2{
        margin: 0 0px 0 0px;
    }
    .mb7{
        padding-right: 0;
    }
    .item__category.no-hover {
        width: calc(100% - 26px);
        }
    .item__category.no-hover.item__padding{
         width: calc(100% - 16px);
    }
    .pad-r.pad-r-product{
        padding-right: 0;
    }
    .with__sidebar .product__content{
        padding-right: 20px;
    }
     .pad-r.pad-r-contact{
        padding-right: 0px;
    }
    
    .pad-r.pad-r-news{
         margin-right: 20px;
    }
    .pad-r.pad-r-contact{
        margin-right: 20px;
    }
    .pad-r.pad-r-executives{
        margin-right: 20px;
    }
    .grid__category.grid__category-big {
        padding: 20px 20px 0 0; 
    }

    .tab-content > .tab-pane{
        margin: 0;
    }
    .my-tabs{
        margin: 0 0px 40px 0px;
    }
    .description__pre{
        padding: 0;
    }
    .description__full{
        padding: 0 ;
    }
     .news-padding{
        padding: 0;
    }
    .grid__news{
        margin: -8px 0px -5px -12px;
    }
    .grid__gallery{
        margin: 30px 0px 37px 0;
    }
	.item__category .category__img{
        width: 60px;
    }
    .header-desc {
        align-items: center;
        /* height: 100vh; */
       /* margin-top: 180px;*/
    }
    .spark__img{
        left: 6px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 310px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 480px;
    }
    .nav-tabs > li {
        height: 465px;
    }
    .img__tabs{
        height: 300px;
    }
    .spark__img {
       height: 300px;
        text-align: right;
    }
   .state__boss{
        font-size: 13px;
    }
    .inter{
        max-width: 100%;
        margin:0 20px;
    }


}
@media all and (max-width: 1400px) {


    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 260px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 450px;
    }
    .nav-tabs > li {
        height: 420px;
    }
    .img__tabs{
        height: 250px;
    }
    .section__fixed .title__block {
        font-size: 23px;
        line-height: 31px;
    }

    h1 {
        font-size: 33px;
        line-height: 33px;
    }

    .footer__info a,
    .footer__info p,
    .address__info p:last-child {
        font-size: 18px;
        line-height: 24px;
    }

    .footer__text {
        font-size: 10px;
        line-height: 16px;
    }

    .inter__block {
        flex-wrap: wrap;
    }
    .inter__block .inter .col-sm-6 + .col-sm-6 {
        text-align: right;
    }

    .item__category {
        width: 100%;
        height: auto;
    }

    .title__news .title {
        font-size: 20px;
    }
    .slider-title{
        font-size: 24px;
    }
     #owl .owl-nav button.owl-next{
        right: 30px;
    }
    #owl .owl-nav button.owl-prev {
        left: 30px;
    }

}

@media all and (max-width: 1300px) {
    .maps-footer{
        max-width: 900px;
        width: 100%;
    }
    .maps{
        max-width: 900px;
        width: 100%;
        border-radius: 30px !important;
    }
    .block-contact-info{
        flex-direction: column;
    }
    #piter,#moskow,#piter2{
        margin: 0 0px 0 -5px;
    }
    input:not([type=submit]){
        width: 90%;
    }
    /*.grid__position{
        padding: 0 20px 0 0;
    }*/
    .sub-text ul li{
        margin-bottom: 35px;
            font-size: 15px;
            line-height: 22px;
    }
    .sub-text{
        font-size: 15px;
    }

    .product__content .owl-carousel .owl-item img {
       /* height: auto;*/
    }
    h1 {
        margin-top: 45px;
    }

    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 300px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 490px;
    }
    .nav-tabs > li {
        height: 475px;
    }
    .img__tabs{
        height: 300px;
    }
    .name__boss{
        font-size: 20px;
    }
    .state__boss{
        font-size: 13px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 400px;
    }
    .nav-tabs > li {
        height: 390px;
    }
    .item__news,
    .career__item,
    .item__position {
        width: 100%;
    }
    .img__tabs{
        height: 240px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs{
        height: 230px;
    }
}
@media all and (max-width: 1250px) {
    #piter,#moskow,#piter2{
        margin: 0 0px 0 -5px;
    }

    .sub-text ul li{
        margin-bottom: 25px;
    }
    .slider-opacity .owl-carousel .owl-item {
        width: 610px !important;
    }
    .slider-opacity .owl-nav{
        width: 600px;
    }
   .form{
    padding: 30px 10px 25px;
   }
   input:not([type=submit]), textarea{
    width: 95%;
    margin: 0 20px 0 15px;
   }
   label {
        top: -31px;
        margin-left: 55px;
   }
}
@media all and (max-width: 1024px) {
     #owl-history{
        margin-top: 0px;
    }
    footer{
       padding-top: 40px;
    }
     #piter,#moskow,#piter2{
        margin: 0 0px 0 -5px;
    }
    .inter{
        margin: 25px 20px 25px 30px!important;
    }
     .footer__text{
        max-width: 100%;
        margin: 0 0 0 30px;
    }
    .inter{
        margin: 25px 20px 0 30px!important;
    }
    .with__sidebar .product__content{
        padding-right: 0;
    }
     .sub-text ul li{
        margin-bottom: 20px;
    }
}
@media all and (max-width: 1200px) {
    .form-group label{
        margin-left: 20px;
        top: -30px;
        margin-left: 60px;
    }
    
    .item__license p{
        margin-top: 5px;
    }
    .career__item h2 {
        font-size: 30px;
    }
    .name__boss{
        font-size: 18px;
    }
    .right__sidebar .item__category,
    .form-group.grid__group span {
        width: 100%;
    }

    .grid__gallery img {
        width: calc(100% / 2 - 16px);
    }

    .item__license {
        width: calc(100% / 3 - 16px);
    }
    .nav-tabs > li {
        width: calc(50% / 1 - 20px);
    }
    .name__boss{
        font-size: 16px;
    }    
    .grid__gallery img {
        max-height: 210px;
        width: 100%;
        height: 100%;
    }
}
@media all and (max-width: 1150px) {
    .block-contact-info{
        flex-direction: column;
    }
    .img__tabs{
        margin-bottom: 5px;
    }
    .tab-content > .tab-pane{
        padding: 25px 44px 20px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 380px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
         height: 275px;
    }
    .nav-tabs > li {
        height: 355px;
    }
    .nav-tabs > li {
        padding: 10px 10px 0 10px;
        border-radius: 10px;
    }
    .img__tabs {
        height: 250px;
    }
    .slider-opacity .owl-carousel .owl-item {
        width: 600px !important;
        height: 90%;
    }
    .slider-opacity .owl-nav {
        bottom: 240px;
    }
    .slider-opacity .owl-nav{
        width: 600px;
    }
    .title__news .title {
        font-size: 20px;
    }
   .group br{
    display: none;
   }
   .state__boss{
    font-size: 11px;
   }
}
@media all and (max-width: 1160px) {
    .form-group{
        margin: 0;
    }
    .form-group span {
        margin: 0;
    }
     .slider-title{
        font-size: 18px;
    }
     #owl .owl-nav button.owl-next{
        right: 10px;
    }
    #owl .owl-nav button.owl-prev {
        left: 10px;
    }
    .downl__links a{
        margin: 0 20px 10px 0;
    }
    .anchors__block a + a {
        margin-left: 10px;
    }
    .anchors__block{
        margin: 3px 0 25px;
    }
    .mb-7{
        margin-top: 20px;
    }
    .item__position .item__category{
        margin-bottom: 20px;
    }
    .group p{
        margin: 0 0 15px 20px;
    }
    .h1__news{
        padding: 27px 30px 0px 0;
        align-items: center;
    }
    .pad-l {
        padding-left: calc(372px + 30px);
    }
/*    .spark__img{
        height: 45vh;
    }*/
    .sub-text{
        font-size: 14px;
    }
    .table__history td {
        font-size: 18px;
    }
    .nav-tabs > li {
        border-radius: 10px;
    }
    .state__boss {
        line-height: 17px;
    }
    .anchors__block a + a {
        margin-left: 10px;
    }
    .downl__links a{
        margin: 0 20px 10px 0;
    }
    .news__share a{
        margin: 0px 0px 0 15px;
    }
    .grid__gallery img {
        max-height: 210px;
        width: 100%;
        height: 100%;
    }
    .inter{
        margin: 25px 20px 0 20px;
    }
    .form-group label{
        margin-left: 20px;
        top: -8px;
        margin-left: 60px;
    }
    .spark__img
    .spark__img {
        height: 100%;
        width: 140%;
    }
    .home h1{
        max-width: 600px;
        width: 100%;
    }
    .col-sm-12.block-parallax{
        margin-top: 0px;
    }
    .section__fixed .title__block{
        top: -3px;
    }
    .owl-carousel{
        margin-top: 20px;
    }
    h2{
        text-align: left;
    }
    div#scene{
        display: none;
    }
    .spark__img-two{
        display: block;
    }
    div#planet-2{
        display: none;
    }
    h1.title-center{
        text-align: left;
    }

}
@media all and (max-width: 1112px) {
    .footer__info a, .footer__info p, .address__info p:last-child{
        font-size: 14px;
    }
    .inter__block{
        padding-bottom: 35px;
    }
    
}
@media all and (max-width: 1050px) {

    .slider-opacity .owl-carousel .owl-item {
        width: 650px !important;
    }
    .slider-opacity .owl-nav {
        max-width: 655px;
        width: 100%;
    }
    h1 {
        margin-top: 45px;

    }
    
}
@media all and (max-width: 1024px) {
    .product__content .owl-carousel .owl-item img {
       /* height: auto;*/
    }
    .logo__text {
       max-width: 300px    
    }
    .form-group label {
        margin-left: 56px;
    }
    label {
        top: -8px;
    }
}   
@media screen and (max-width: 992px) {
    .footer__text{
        padding: 0 20px 0 0;
    }
    .block-contact-info{
        padding: 0 0 0 20px;
    }
    .header-desc{
        /* height: 95vh; */
        margin-top: 60px;
    }
    .form-group span {
        padding: 0;
    }
    .grid__career{
        padding: 0px;
    }
    .maps{
       /* margin: 0 5px;*/
    }
    .title-contact{
      margin: 0 20px;
    }
   /* .item__position{
        margin: 0 21px 0 15px;
    }
    .grid__position{
        padding: 0 15px 0 0;
    }*/
    .grid__category.grid__category-big{
        padding: 20px 0 0 0;
    }
     .item__category.no-hover.no-hover-maps{
        width: calc(100% - -10px);
    }
     .item__category.no-hover.no-hover{
        width: calc(100% - 0px);
    }
    .item__category.no-hover.no-hover.item__padding{
         width: calc(100% - 16px);
    }
    .form{
        margin: 0;
    }
   /* .grid__position{
        padding: 0 30px 0 30px;
    }*/
    .pad-r.pad-r-contact{
        margin-right: 20px;
    }
    .pad-r.pad-r-news{
        margin-right: 0;
    }
    .pad-r.pad-r-executives{
        margin-right: 0px;
    }
    .pad-r.pad-r-history{
        padding-right: 0px;
    }
    .inter__block{
        position: relative;
        z-index: 99;
    }
    .with__sidebar .product__content{
        padding-right: 0;
    }
    /* #spark__ao,
    }*/
   /* #spark__npo{
        margin: 0;
    }*/

    .pad-r{
        padding-right: 20px;
    }
/*    .container-fluid {
        max-width: 98%;
    }*/
    .sub-text ul li{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 38px;
    }
    .header-desc{
        height: auto;
    }
	.form-group label {
        margin-left: 50px;
        margin-top: 8px;
	}
	[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
		position: absolute;
	    top: 0px;
	    left: 10px;
	    height: 20px;
	    width: auto;
	}
    footer {
        padding-top: 45px;
    }
    .header-desc{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    .text-center {
        width: 60%;
    }
/*    .spark__img {
        height: 72vh;
    }*/
    .header-desc .owl-carousel {
     margin-top: 120px;
        width: 40%;
    }
    .col-sm-12.block-parallax {
        margin-top: 80px;
        padding: 0;
    }
    .slider-opacity .owl-carousel .owl-item {
        height: 80%;
    }
   /* .table__history td{
        font-size: 14px;
    }
    .description__pre p{
        font-size: 14px;
        line-height: 24px;
    }
    .description__pre p, .description__full p, .product__content p{
        font-size: 14px;
        line-height: 24px
    }*/

    .map__img{
        margin-bottom: 40px;
    }
    .content__top h1{
        border-top: 1px solid rgba(255, 255, 255, 0.18);
        padding: 15px 0 0 0;
    }
    .header-scroll {
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    .header-scroll h1 {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 1;
    }
    .header-scroll .top-left {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 1;
    }
    .header-scroll .top {
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 1;
    }
    body.sticky-header {
      padding-top: 100px;
      transition: all 5000s;
    }

    body.sticky-header .header-scroll  h1 {
     opacity: 0;
    }

    body.sticky-header .header-scroll  .top-left {
     opacity: 0;
    }
    body.sticky-header .header-scroll  .top {
     opacity: 0;
    }

    #navbar {
        display: block;
    }
    .mburger{
        top: 20px;
    }

    .section__fixed{
        width: 100%;
        position: fixed;
        opacity: 1;
    }
     .logo__block {
        max-width: 320px;
    }
    .logo__block{
        margin-top: 0;
    }
    .abs__img {
        right: auto;
        left: 50%;
        top: 190px;
    }

    .section__fixed .title__block {
        text-align: right;
        max-width: 250px;
    }

    .home h1 {
        line-height: 38px;
        text-align: right;
    }

    .home .content {
        padding-top: 125px;
    }
/*
    .spark__img {
        height: 50vh;
    }*/

    .sidebar__left {
        display: none;
    }

    .section__fixed .title__block {
        font-size: 8px;
        line-height: 11px;
        text-align: center;
        position: absolute;
        right: 220px;
    }
    .animation-baner{
        font-size: 18px;
        width: 500%;
    }

    .section__fixed .top {
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: left;
        padding: 0;
    }

    .logo__block {
        width: 100%;
        order: 2;
        /*margin-top: -40px;*/
    }

    .logo__text {
        font-size: 10px;
        line-height: 16px;
        text-align: left;
        max-width: 100%;
        margin-top: 5px;
    }

    .home .content {
        padding-top: 0px;
    }

    h1 {
        font-size: 24px;
        line-height: 30px;
    }

    .home h1 {
        font-size: 23px;
        line-height: 30px;
        margin: 0;
        max-width: 90%;
        text-align: left;
    }

    .pad-l {
        padding-left: 20px;
    }

    .main__map {
        padding-top: 100px;
    }

    h2 {
        font-size: 24px;
/*        text-align: center;*/
    }
/*
    .spark__img {
        height: 32vh;
    }*/

    .footer__info a, .footer__info p, .address__info p:last-child {
        font-size: 16px;
    }

    .footer__info {
        margin-bottom: 16px;
    }

    .inter__block {
        padding-top: 12px;
        padding-bottom: 22px;
        margin-bottom: 14px;
    }

    .content {
       margin-top: 0;
       padding-top: 100px;
    }

    footer .pad-l {
        padding-left: 10px;
    }

    footer .container {
        width: 100%;
    }
    .product__content ul li {
        font-size: 14px;
        line-height: 28px;
    }

    .carousel__title {
        font-size: 14px;
        padding: 10px 60px;
    }

    .bg__group::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 150px;
        background: linear-gradient(#243255 0%, rgba(37, 51, 87, 0) 100%);
        z-index: 3;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: 20px;
    }

    .owl-carousel .owl-nav button.owl-next {
        right: 20px;
    }
    .mburger{
        display: block;
    }
    .h1__news{
        border-top: 1px solid rgba(255, 255, 255, 0.18);
        padding: 7px 0px 0px 0;
    }
    .h1__news h1{
        border-top: none;
    }
       /*  .header-desc{
        margin-top: 120px;
        margin-bottom: 100px;
    }*/
    .main__map{
        padding-top: 0;
    }
}
@media screen and (max-width: 834px) {
    .header-desc{
        padding-top:0;
        padding-bottom: 0;
    }
    .title-map{
        margin: 0 0px 0  -15px;
    }
    #piter, #moskow, #piter2{
        margin: 0;
    }
    .sub-text{
        margin-bottom: 100px;
    }
    .text-center-block{
        height: auto;
    }
    .spark__img {
      height: 575px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-desc{
        align-items: flex-start;
        flex-direction: column;
        margin-top: 80px;
/*        margin-top: 0;
        padding-top: 0;*/
    }

    .text-center{
        width: 100%;
    }
/*    .spark__img{
        height: 72vh;
    }*/
    .h1__news{
        margin-top: 35px;
    }
    .product__content .owl-carousel .owl-item img {
       /* height: auto;*/
    }
/*    .spark__img{
        margin-top: 50px;
    }*/
    .header-desc .owl-carousel{
        margin-top: 40px;
    }
    .header-desc .owl-carousel{
        width: 100%;
    }
    /*.header-desc{
        flex-direction: column;
        align-items: center;
    }*/
    .home h1{
        margin: 0 0 0 15px;
        height: 60px;
    }
}
@media screen and (max-width: 812px) {

    .logo__block {
    max-width: 180px;
    }
    .logo__text {
        font-size: 6px;
        line-height: 12px;
        margin-top: -10px;
    }
}
@media screen and (max-width: 736px) {
    .header-desc{
        margin-top: 115px;
    }
    #piter, #moskow, #piter2{
        margin: 0;
    }
     .header-desc{
        flex-direction: row-reverse;
     }
      .header-desc .owl-carousel{
        width: 40%;
      }
       .spark__img{
        /* margin-top: 60px; */
        height: 250px!important;
    }
}
@media screen and (max-width: 773px) {
@media screen and (max-width: 768px) {
    .img__2-block{
        grid-template-columns: 1fr;
        height: 635px;
    }
    .slider-opacity .owl-carousel .owl-item{
        width: 720px !important;
    }
    .slider-opacity .owl-nav{
        bottom: 180px;
    }
    .slider-opacity .owl-carousel .owl-item{
        height: 100%;
    }
    #piter, #moskow, #piter2{
        margin: 0;
    }
     .inter{
        margin: 10px 20px 15px 30px!important;
    }
    .spark__img{
        height: 500px;
        /* margin-top: 60px; */
    }
    .item{
        height: 400px;
    }
    .inter__block{
        position: relative;
        z-index: 99;
        padding-bottom: 10px;
    }
    .category__text{
        font-size: 18px;
        line-height: 22px;
    }
    .item__category .category__img__big{
        width: 50px!important;
    }
    .sub-text ul li{
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 26px;
    }
    .arrow-block{
        transform: rotate(90deg);
        margin: 0px auto 0 auto;
    padding: 0 10px;
    }
    .animation-baner{
        display: none;
    }
    .text-center{
        width: 100%;
    }
    .content__top h1{
       /* margin-top: 20px;*/
    }
    .logo__text{
        font-size: 10px;
        line-height: 12px;
        margin-top: -5px;
    }
    .logo__block{
        max-width: 270px;
    }
   /* .spark__img {
           height: 650px;
    }*/
    .home h1 {
        font-size: 19px;

    }
    .main__map{
        padding-bottom: 0;
    }
    .form-group.grid__group span{
        
        font-size: 10px;
            text-align: left;
    }
    .wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"]{
        /*margin-bottom: 20px;*/
    }
    span.wpcf7-not-valid-tip {
       /*/* margin-bottom: -7px;*/
        position: absolute;
        top: 31px;*/
    }
    span.wpcf7-not-valid-tip{
         margin: 0 36px 0 35px;
        top: 23px;

    }
    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        border: 2px solid red;
        font-size: 14px;
        line-height: 24px;
        border-radius: 10px;
        top: -9px;
        margin: 0px 15px 0 15px;
    }
    .item__category .category__img{
        width: 105px;
    }
    .dob{
         font-size: 12px;
        line-height: 18px;
        margin: 0;
        padding: 0;
    }
    .category__text .state__{
        font-size: 12px;
        line-height: 18px;
    }
    .category__text .actions__ a{
        font-size: 12px;
        line-height: 18px;
    }
    .category__text .title__{
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        margin: 0px 0 5px 0;
    }
    .downl__links{
        padding-top: 15px;
    }
    .item__license p{
        font-size: 12px;
        line-height: 16px;
    }
    .career__box p{
        font-size: 14px;
        line-height: 24px;
    }
    .grid__popup a {
        font-size: 14px;
        line-height: 24px;
    }
    .career__persone ul li{
        font-size: 14px;
    }
    .career__box{
            padding: 0px 40px 25px;
    }
     .car__state{
        font-size: 14px;
    }
    .career__box h3{
        font-size: 18px;
    }
    .career__item h2{
        font-size: 24px;
        line-height: 30px;
    }
    .car__name{
        font-size: 14px;
        line-height: 24px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
    h1{
        margin-top: 5px;
    }
    h4{
        line-height: 30px;
    }
    .modal-body{
        font-size: 14px;
        line-height: 24px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
    h3 {
        line-height: 30px;
    }

    .product__content h2{
        line-height: 28px;
    }
    .tab-content > .tab-pane p {
        font-size: 14px;
        line-height: 24px;
    }
    .slider-opacity .owl-carousel .owl-stage{
        height: 460px;
    }
    .grid__gallery img {
        max-height: 490px;
        height: 100%;
    }
    .img__2 {
        height: auto;
        flex-wrap: wrap;
    }

    .img__2 img {
        width: 100%;
        min-height: auto;
    }
     .item__license {
        width: 20%;
    }
    .anchors__block{
        margin: 20px 0 25px;
    }
}
@media screen and (max-width: 725px) {
    .slider-opacity .owl-carousel .owl-item {
        width: 450px !important;
    }
    .slider-opacity .owl-nav{
        width: 450px;
    }
}


@media screen and (max-width: 680px) {
    .sub-text ul li{
        margin-bottom: 20px;
        font-size: 14px;
    }
    .tab-content > .tab-pane h2{
        font-size: 24px;
        line-height: 30px;

    }
    .tab-content > .tab-pane .h2__sub{
        font-size: 14px;
    }
    .col-sm-12.block-parallax {
        margin-top: 80px;
        padding: 0;
    }
}
@media screen and (max-width: 667px) {
     .table__history td{
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 10px;
    }
    .content__top h1{
        margin-top: 20px;
    }

    #piter, #moskow, #piter2{
        margin: 0;
    }
    .header-desc{
        margin-bottom: 0;
    }
    .spark__img{
        height: 200px!important;
    }
    .block-text-main p{
        font-size: 14px; 
        line-height: 24px;
    }
    .sub-text ul li {
margin-bottom: 21px;
font-size: 14px;
line-height: 18px;
}
    .spark__img {
        height: 234px;
    }
    .header-desc{
        margin-top: 130px;
    }
/*   
    .spark__img{
        height: auto;
    }*/
    .description__pre p, .description__full p, .product__content p{
        font-size: 14px;
        line-height: 24px;
    }
}
@media screen and (max-width: 634px) {
    .sub-text ul li{
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 550px) {
   
    .mm-wrapper_opening .mm-menu_offcanvas ~ .mm-slideout.mburger {
        right: 460px;
    }

}

@media screen and (max-width: 550px) {
f
    .grid__gallery img {
        max-height: 324px;
        height: 100%;
    }
    
    .state__boss{
        font-size: 10px;
        line-height: 16px;
    }
    .nav-tabs > li {
        height: 240px;
    }
    .nav-tabs > li:nth-child(2) {
        height: 260px;
    }
    .img__tabs {
        height: 150px;
    }
     .nav-tabs > li:nth-child(2) .img__tabs{
        height: 150px;
    }
    .anchors__block{
        display: flex;
        flex-direction: column;
    }
    .anchors__block a + a{
        margin-left: 0;
        margin-top: 10px;
    }
    .anchors__block {
        margin: 20px 0 25px;
    }
}
@media screen and (max-width: 500px) {
     .slider-title {
        font-size: 14px;
        height: 70px;
    }
    .slider-opacity .owl-carousel .owl-item {
        width: 270px !important;
    }
    .slider-opacity .owl-nav{
        width: 270px;
    }
}
@media screen and (max-width: 414px) {
    .title-map{
        font-size: 18px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .spark__img{
        height: 350px!important;
    }
    .grid__gallery img {
        max-height: 100px;
        width: calc(100% / 1 - 0px);
    }
    .h1__news h1{
        width: 100%;
        text-align: left;
    }
    .footer__text {
        margin: 0 25px;
        }
    .logo__block a img{
        max-width: 270px;
    }
    .logo__text{
        font-size: 10px;
        width: 90%;
    }
    .content__top h1{
        margin-top: 10px;
    }
}
@media screen and (max-width: 485px) {
    .footer__text{}
    .block-contact-info{
        padding: 0;
    }
    .spark__img{
        margin-top: 0;
        
    }
    .header-desc{
        margin-top: 0;
    }
    .block-contact-info{
        margin: 0;
    }
    #piter, #moskow, #piter2{
        margin: 0;
    }
    .item__category.no-hover{
        padding: 0 0px 0 20px;
    }
    .item__category.no-hover.no-hover.item__padding{
        width: calc(100% - 6px);
        margin: 0 0 20px 0;
        padding: 0 50px 0 20px;
    }
    .product__content .owl-carousel.owl-drag .owl-item{
        border-radius: 10px ;
    }
    .item{
        height: 250px;
    }
    .slider-title{
        border-radius: 10px;
    }
    .item__category.item__category-activities .category__text{
         margin: 0 0 0 20px; 
    }
     .item__category .category__img__big{
        width: 50px!important;
    }
    .arrow-block {
        margin: -10px auto 0 auto;
        padding: 0 15px;
    }
    .header-desc{
        height: auto;
    }
    .header-desc{
        flex-direction: column;
    }
    .sub-text p{
         font-size: 15px;
    line-height: 30px;
    }
    .sub-text{
        margin-top: 0;
    }
    .inter{
      margin: 10px 20px 5px 23px!important;
    }
    .copy-block{
        font-size: 10px;
    }
     .inter a{
        font-size: 10px;
/*        top: 2px;*/
     }
    .inter a img{
        width: 20px;
    }
    .product__content .owl-carousel .owl-item img {
   /* height: auto;*/
    }
    .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    .col-sm-12.block-parallax{
        margin-top: 130px;
    }
    .sub-text{
        margin-top: 0px;
    }
    .content__top h1{
        padding: 0px 0 -2px 0;
        line-height: 20px;
    }
    .news__action{
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .news__share{
        width: auto;
    }
   .header-desc .owl-carousel {
        margin-top: 80px;
        width: 100%;
    }
    .text-center{
        width: 100%;
    }
/*    .header-desc{
        display: block;
    }*/
    .downl__links{
        padding-top:0;
    }
    .item__license {
        width: 45%;
    }
    .item__license p{
        font-size: 12px;
        line-height: 16px;
    }
    .car__state{
        font-size: 14px;
    }
    .career__box h3{
        font-size: 18px;
    }
    .career__item h2{
        font-size: 24px;
        line-height: 30px;
    }
    .car__name{
        font-size: 14px;
        line-height: 24px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }

    h4{
        line-height: 30px;
    }
    .description__pre p, .description__full p, .product__content p{
        font-size: 14px !important;
        line-height: 24px !important;;
    }
    footer{
            background-size: cover;
            z-index: 1;
    }
     .map__img{
        margin-bottom: 100px;
    }
    .home h1{
        max-width: 320px;
        margin: 0 15px 0 15px;
    }
    .section__fixed .title__block{
       display: none;
    }
    .address__info p:last-child {
        margin-top: 0;
    }

    .footer__info a, .footer__info p, .address__info p:last-child{
        font-size: 14px;
    }
    .grid__gallery a{
        margin: 0px 8px;
        width: calc(100% / 2 - 16px);
    }
    .grid__gallery img{
        max-height: 110px;
    }
/*    .modal-dialog {
        top: 15%;
    }*/

    .grid__gallery img {
        height: 300px;
    }
    .category__text .title__{
        font-size: 18px;
    }
    .news__action .news__date {
        font-size: 18px;
    }
    .grid__gallery img {
        margin: 8px 0;
    }    
    .grid__gallery {
        margin: 30px 0 37px 0;
    }
    .anchors__block a{
        font-size: 18px;
    }
    h1{
        font-size: 18px;
    }
    .breadcrumb > li, .breadcrumb > li a{
        font-size: 12px;
    }
    footer{
        padding-top: 45px;
    }
    .table__history td{
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 10px;
    }
    h3{
        font-size: 18px;
        line-height: 28px;
    }
    .description__pre p, .description__full p, .product__content p{
        font-size: 18px;
    }
    .tab-content > .tab-pane p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .tab-content > .tab-pane .h2__sub{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .tab-content > .tab-pane h2{
        font-size: 24px;
        line-height: 30px;
    }
    .tab-content > .tab-pane{
        padding: 0px 20px 33px;
    }
    .nav-tabs > li{
        height: 235px;
    }
    .nav-tabs > li:nth-child(2){
        height: 245px;
    }
    .nav-tabs > li:nth-child(2) .img__tabs {
        height: 135px;
    }
    .img__tabs{
        height: 125px;
        margin-bottom: 10px;
    }
    .nav-tabs > li {
        padding: 10px 5px 0 5px;
    }
    .name__boss {
        font-size: 12px;
    }
    .state__boss{
        font-size: 9px;
    }
    #owl .owl-nav button.owl-next, #owl .owl-nav button.owl-prev {
        font-size: 50px;
        bottom: 5px;
    }
    .slider-title{
        padding: 0 20px;
    }
    .category__text{
        font-size: 12px;
        /*margin: 0 0 0 20px;*/
        line-height: 20px;
    }
    .logo__block a img {
       /* max-width: 160px;*/
        /*margin: 10px 0 0 0;*/
    }
/*    .spark__img {
        height: 45vh;
    }*/
    .logo__block {
        max-width: 320px;
    }
/*    .logo__block{
        margin-top: -20px;
    }*/
   
    .category__img{
        margin-right: 0;
    }
    .item__category .category__img{
        width: 105px;
    }
    .downl__links{
        justify-content: center;
    }
    .downl__links a{
        width: 100%;
        margin: 13px 0px 0px 0;
    }
    .item__position{
        margin: 0 5px;
    }
    .content{
        padding-top: 100px;
    }
    .line-none{
        display: none;
        margin: 27px 0px;
    }
    .logo__text{
        width: 100%;
        margin-top: -4px;
        font-size: 10px;
    }
    .slider-opacity .owl-carousel .owl-item{
        height: 60%;
    }
    .slider-opacity .owl-carousel .owl-item{
        width: 350px !important;
    }
    .slider-opacity .owl-nav{
            bottom: 280px;
    }
    .slider-opacity .owl-nav{
        width: 100%;
    }
    #owl-history{
        position: relative;
        z-index: 99!important;
    }
    #owl .owl-carousel .owl-stage-outer {
        height: 245px;
    }
    .table__history td:first-child{
        width: 70px;
    }
    .table__history td {
        width: 235px;
    }
    .career__box{
        padding: 10px 20px 25px;
    }
    .grid__news{
            margin: -8px -8px 0px;
    }
    .h1__news{
        padding: 7px 5px 0px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .h1__news h1{
        padding: 0;
        margin: 0;
    }
    .career__persone ul li{
        font-size: 14px;
    }
    .career__box p{
        font-size: 14px;
    }
    .grid__popup a{
        font-size: 14px;
        line-height: 24px;
    }
    .grid__license {
    
    margin: 20px -8px 0;
    }
    .category__text .state__{
        font-size: 12px;
        line-height: 18px;
    }
    .category__text .actions__ a{
        font-size: 12px;
        line-height: 18px;
    }
    .category__text .title__{
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        margin: 0 0 5px 0;
    }
    .dob{
         font-size: 12px;
        line-height: 18px;
    }
    input:not([type=submit]), textarea {
        width: 90%;
    }
    .form-group label {
        margin-left: 50px;
    	margin-top: 9px;
    	margin-right: 20px;
    }
    .form-group{
        position: relative;
    }
    .form-group.grid__group span{
        font-size: 10px;
        text-align: left;
    }
    span.wpcf7-not-valid-tip {
        position: absolute;
        top: 31px;*/
    }
    span.wpcf7-not-valid-tip{
        margin: 0 36px 0 35px;
        top: 23px;
    }
    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
        border: 2px solid red;
        font-size: 14px;
        line-height: 24px;
        border-radius: 10px;
        top: -9px;
        margin: 0px 15px 0 15px;
    }
    .main__map{
        padding-bottom: 0;
        padding: 0;
    }
    .slider-opacity{
        height: 270px;
    }
    /*.logo__text {
        font-size: 6px;
        width: 50%;
        line-height: 12px;
        margin-top: -10px;
    }*/
    .header-desc{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 400px) {
    .slider-title{
        font-size: 10px;
        line-height: 14px;
    }
      #owl .owl-nav button.owl-next{
        right: 0px;
    }
        #owl .owl-nav button.owl-prev {
        left: 0px;
    }
/*    .spark__img {
        height: 45vh;
    }*/
}
@media screen and (max-width: 375px) {

    
}
@media screen and (max-width: 320px) {

    .inter {
        flex-direction: column;
    }
    .inter a{
        margin-top: 20px;
    }
    .home h1{
        font-size: 18px;
    }
    .nav-tabs > li{
        height: 350px;
    }
    .nav-tabs > li:nth-child(2){
        height: 350px;
    }
}